/*--Master CSS File--*/
/*--Navigation--*/
.navbar {
  padding: 1rem 1.5rem 1rem 2rem;
  text-decoration: none;
  z-index: 1;
  background-color: transparent;
}

/*--Begin scrolling navbar css--*/
.navScroll {
  background-color: rgb(0, 0, 0, 0.60);
}

.navScroll .nav-link {
  color: white !important;
}

.navScroll .navbar-brand {
  color: white !important;
}

.navScroll .navbar-brand:hover {
  color: white;
}

.navScroll .nav-link:hover {
  box-shadow: inset 0 -3px 0 white;
}

/*--End scrolling navbar css--*/
.navbar-brand {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  font-family: Montserrat;
  letter-spacing: 2px;
}

.navbar-brand:hover {
  color: black;
}

.padding {
  margin-right: .7rem;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  box-shadow: inset 0 -3px 0 black;
  color: black;
}

.active{
  color: black;
  box-shadow: inset 0 -3px 0 black;
}

/*--Landing--*/

.landing {
  height: 100vh;
  width: 100%;
  background-image: url("../images/backgroundwhiteoverlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -999;
  text-align: center;
}

.landing-header{
  padding-top: 35%;
}

.landing-header h1{
  font-size: 50px;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-family: Montserrat;
  letter-spacing: 2px;
}

.landing-header p{
  font-size: 20px;
  font-family: arial;
  text-transform: none;
}

.landing-button button{
  margin-top: 1rem;
  border-color: black;
  color: black;
  border-width: medium;
  border-radius: 0;
}
