/*--Master CSS File--*/
/*--Smooth Scrolling--*/
html {
  scroll-behavior: smooth
}

/*--Navigation--*/
.navbar {
  padding: 1rem 1.5rem 1rem 2rem;
  text-decoration: none;
  z-index: 1;
  background-color: transparent;
}

/*--Begin scrolling navbar css--*/
.navScroll {
  background-color: rgb(0, 0, 0, 0.60);
  transition: 1s;
}

.navScroll .nav-link {
  color: white !important;
}

.navScroll .navbar-brand {
  color: white !important;
}

.navScroll .navbar-brand:hover {
  color: white;
}

.navScroll .nav-link:hover {
  box-shadow: inset 0 -3px 0 white;
}

.navScroll .active {
  box-shadow: inset 0 -3px 0 white !important;
}

.navScroll .fa-bars {
  color: white;
}

/*--End scrolling navbar css--*/
.navbar-brand {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  font-family: Montserrat;
  letter-spacing: 2px;
}

.navbar-brand:hover {
  color: black;
}

.padding {
  margin-right: .7rem;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  box-shadow: inset 0 -3px 0 black;
  color: black;
}

.navbar .active {
  color: black;
  box-shadow: inset 0 -3px 0 black;
}

.navbar-toggler-icon {
  color: black !important;
}

/*--Landing--*/
.landing {
  height: 100vh;
  width: 100%;
  background-image: url("../images/backgroundwhiteoverlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -999;
  text-align: center;
}

.landing-header {
  padding-top: 40vh;
}

.landing-header h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-family: Montserrat;
  letter-spacing: 2px;
}

.landing-header p {
  font-size: 20px;
  font-family: arial;
  text-transform: none;
}

.landing-button button {
  margin-top: 1rem;
  border-color: black;
  color: black;
  border-width: medium;
  border-radius: 0;
}

/*--About Section--*/
.snowmania-icon img {
  height: 250px;
  width: 250px;
}

.about-header {
  padding-top: 5rem;
  padding-left: 6rem;
}

.about-header h3 {
  font-size: 30px;
  font-family: Montserrat;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  letter-spacing: .2px;
}

.about-divider {
  height: 4px;
  width: 7rem;
  background: -webkit-linear-gradient(left, rgba(126, 212, 255), rgba(208, 124, 247));
  background: -o-linear-gradient(left, rgba(126, 212, 255), rgba(208, 124, 247));
  background: linear-gradient(to right, rgba(126, 212, 255), rgba(208, 124, 247));
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.content {
  padding: 5rem;
  padding-bottom: 4rem;
}

.questions {
  padding: 0 5rem 5rem 5rem;
  padding-top: 5rem;
}

.header {
  font-size: 20px;
  font-family: arial;
  font-weight: 500;
}

.questions-divider {
  height: 4px;
  width: 11.5rem;
  background: -webkit-linear-gradient(left, rgba(126, 212, 255), rgba(208, 124, 247));
  background: -o-linear-gradient(left, rgba(126, 212, 255), rgba(208, 124, 247));
  background: linear-gradient(to right, rgba(126, 212, 255), rgba(208, 124, 247));
}

/*--Explore Carousel--*/
.explore {
  padding-top: 4.5rem;
}

.carousel {
  width: 100%;
  height: 75vh;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100%;
}

.carousel-item {
  z-index: -1;
  width: 100% !important;
  height: 75vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*
.carousel-item img{
  width: 100%!important;
  height: 75vh;
  attachment: center;
}
*/
.carousel-indicators li {
  background-color: rgb(96, 96, 96) !important;
}

.carousel-caption {
  color: black !important;
  position: absolute;
  text-align: left;
  left: 5%;
  width: 50%;
  bottom: 10%;
}

.carousel-caption h5 {
  font-size: 25px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: .2px;
}

.carousel-caption p {
  font-size: 18px;
}

/*--Policies Section--*/
.policies-header {
  padding-top: 5rem;
  padding-left: 6rem;
}

.policies-header h3 {
  font-size: 30px;
  font-family: Montserrat;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  letter-spacing: .2px;
}

.policies-divider {
  height: 4px;
  width: 9.2rem;
  background: -webkit-linear-gradient(left, rgba(126, 212, 255), rgba(208, 124, 247));
  background: -o-linear-gradient(left, rgba(126, 212, 255), rgba(208, 124, 247));
  background: linear-gradient(to right, rgba(126, 212, 255), rgba(208, 124, 247));
}

.policies-content {
  /*
  padding-right: 6rem;
  padding-left: 6rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  */
  padding: 2rem 6rem 4rem 6rem;
}

.policies-content p{
  font-size: 18px;
}

.number{
  font-weight: 700;
}

.policies-subheader{
  padding-bottom: 1rem;
}
